<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3325.1758" targetFramework="net472" />
  <package id="cef.redist.x86" version="3.3325.1758" targetFramework="net472" />
  <package id="CefSharp.Common" version="65.0.1" targetFramework="net472" />
  <package id="CefSharp.Wpf" version="65.0.1" targetFramework="net472" />
  <package id="Dangl.Common" version="1.5.0" targetFramework="net45" />
  <package id="iabi.BCF" version="1.2.7" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net47" />
  <package id="RestSharp" version="104.4.0" targetFramework="net40" />
  <package id="Revit_All_Main_Versions_API_x64" version="2020.0.1" targetFramework="net472" allowedVersions="[2020.0.0,2021.0.0)" />
</packages>