<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HelixToolkit" version="2015.1.715" targetFramework="net452" />
  <package id="HelixToolkit.Wpf" version="2015.1.715" targetFramework="net452" />
  <package id="log4net" version="2.0.5" targetFramework="net452" />
  <package id="ManagedEsent" version="1.9.4" targetFramework="net452" />
  <package id="PropertyTools.Wpf" version="2015.1.66" targetFramework="net452" />
  <package id="SharpZipLib" version="1.3.3" targetFramework="net452" />
  <package id="Xbim.Essentials" version="4.0.7" targetFramework="net452" />
  <package id="Xbim.Geometry" version="4.0.11" targetFramework="net452" />
  <package id="Xbim.WindowsUI" version="4.0.11" targetFramework="net452" />
</packages>