<!-- About Section -->
    <section id="download">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Get it!</h2>
                    <h3 class="section-subheading text-muted">{{ site.download }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center lead">
                    {{ site.download1 | markdownify}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
<a href="https://github.com/teocomi/BCFier" class="btn btn-xl down">Download</a>
<a href="https://github.com/teocomi/BCFier" class="btn btn-xl after down">Fork it on GitHub</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading2 text-muted">{{ site.latest }}</h3>
                </div>
            </div>
             
        </div>
    </section>