 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <script src="{{ "/js/timeago.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        GetLatestReleaseInfo();
       });

    function GetLatestReleaseInfo() {
        $.getJSON("https://api.github.com/repos/teocomi/bcfier/releases?access_token=ef85819857533da4a216df2ae8e6db642827e922").done(function (releases) {
            var release = releases[0];
            var asset = release.assets[0];
            var downloadURL = "https://github.com/teocomi/bcfier/releases/download/" + release.tag_name + "/" + asset.name;
            var downloadCount = 0;
            for (var i = 0; i < releases.length; i++) {
                if(releases[i].assets[0] && releases[i].assets[0].download_count)
                downloadCount += releases[i].assets[0].download_count;
            }
            var releaseInfo = "Latest version is "+ release.name + ", it was released " + $.timeago(asset.updated_at) + " and downloaded " + downloadCount + " times.";
            $(".bcfier-download").attr("href", downloadURL);
            $(".release-info").text(releaseInfo);
            $(".release-info").fadeIn("slow");
        });
    }


    
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-19232134-2', 'auto');
  ga('send', 'pageview');

</script>
