/* This stylesheet is used to style the public view of the plugin. */
.explanatory-dictionary-letter-selected {
	text-decoration: underline;
}

.explanatory-dictionary-entries {
	margin: 10px 0;
}

.explanatory-dictionary-entry-word {
	font-weight: bold;
}

.explanatory-dictionary-highlight {
	cursor: help;
}

.explanatory-dictionary-highlight .explanatory-dictionary-highlight {
	/* Hides definition terms inside definition terms */
	border-bottom: 0;
}

.explanatory-dictionary-highlight .explanatory-dictionary-highlight:hover {
	cursor: pointer;
}

.explanatory-dictionary-highlight .explanatory-dictionary-highlight span {
	display: none !important;
}

#explanatory-dictionary-page-definitions {
	display: none;
}

.explanatory-dictionary-alphabet a,
.explanatory-dictionary-alphabet .explanatory-dictionary-letter-selected {
	text-transform: capitalize;
    font-size: 16px;
}

.explanatory-dictionary-entry-explanation {
    word-break: break-all;
    font-size: 16px;
}