.so-widget-sow-icon-default-6864f8ca90e2 .sow-icon {
  text-align: center;
}
.so-widget-sow-icon-default-6864f8ca90e2 .sow-icon span,
.so-widget-sow-icon-default-6864f8ca90e2 .sow-icon a span {
  display: inline-block;
  color: #ffffff !important;
  font-size: 25px !important;
}