.so-widget-sow-headline-default-e7d33e2056c4 .sow-headline-container h3.sow-headline {
  text-align: left;
  
  line-height: 1.4em;
  font-size: 18px;
  
  
}
.so-widget-sow-headline-default-e7d33e2056c4 .sow-headline-container h3.sow-sub-headline {
  text-align: center;
  
  line-height: 1.4em;
  
  
  
}
.so-widget-sow-headline-default-e7d33e2056c4 .sow-headline-container .decoration {
  line-height: 0em;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
.so-widget-sow-headline-default-e7d33e2056c4 .sow-headline-container .decoration .decoration-inside {
  height: 1px;
  display: inline-block;
  border-top: 1px solid #eeeeee;
  width: 100%;
  max-width: 100%;
}
.so-widget-sow-headline-default-e7d33e2056c4 .sow-headline-container *:first-child {
  margin-top: 0 !important;
}
.so-widget-sow-headline-default-e7d33e2056c4 .sow-headline-container *:last-child {
  margin-bottom: 0 !important;
}
.so-widget-sow-headline-default-e7d33e2056c4 .sow-headline-container h3.sow-headline a {
  color: #545454;
}
.so-widget-sow-headline-default-e7d33e2056c4 .sow-headline-container h3.sow-headline a:hover {
  color: #545454;
  text-decoration: none;
}