.so-widget-sow-icon-default-6fa36423e4cd .sow-icon {
  text-align: center;
}
.so-widget-sow-icon-default-6fa36423e4cd .sow-icon span,
.so-widget-sow-icon-default-6fa36423e4cd .sow-icon a span {
  display: inline-block;
  color: #06799f !important;
  font-size: 50px !important;
}