<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="79.1.35" targetFramework="net462" />
  <package id="cef.redist.x86" version="79.1.35" targetFramework="net462" />
  <package id="CefSharp.Common" version="79.1.350" targetFramework="net462" />
  <package id="CefSharp.Wpf" version="79.1.350" targetFramework="net462" />
  <package id="Dangl.Common" version="1.5.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
  <package id="RestSharp" version="104.4.0" targetFramework="net40" />
  <package id="ZetaIpc" version="1.0.0.9" targetFramework="net462" />
</packages>