bcfier-top-menu {
  padding-left: 20px;
  width: 100%;
}

.logo {
  height: 48px;
  margin-bottom: 1rem;
}

.file-close-button {
  margin-left: 10px;
}

mat-tab-group {
  height: calc(100% - 64px);
  min-height: calc(100% - 64px);
  min-width: 100%;
  width: 100%;
  margin: 0px;
}
