<mat-toolbar color="primary">
  <h1 class="title"><strong>IPA.</strong>BCFier</h1>
  <bcfier-top-menu></bcfier-top-menu>
</mat-toolbar>

<mat-tab-group *ngIf="bcfFiles" dynamicHeight #tabGroup>
  <mat-tab *ngFor="let bcfFile of bcfFiles | async; let index = index">
    <ng-template mat-tab-label>
      {{ bcfFile.fileName }}
      <button
        class="file-close-button"
        color="warn"
        mat-icon-button
        (click)="closeBcfFile(bcfFile)"
      >
        <mat-icon>close</mat-icon>
      </button>
    </ng-template>
    <bcfier-bcf-file
      [bcfFile]="bcfFile"
      *ngIf="tabGroup.selectedIndex === index"
    ></bcfier-bcf-file>
  </mat-tab>
</mat-tab-group>
